---
title: Anton
body_class: index
---

.intro
  %h1 JavaScript OOP: Carousel From Scratch
  %p 
    Below are four Carousel objects created from the same Carousel class.  
    Basic features are as follows:
  %ul 
    %li Viewing size is 400x300 pixels
    %li Navigation arrows appear at side edges on hover
    %li Download is on lower-right corner
    %li Pause/unpause on middle hover
    %li Fetches JSON via AJAX
    %li Wraps around
    %li 
      Auto-sliding direction follows the last navigation arrow pressed
      (i.e., if you pressed the left arrow, the carousel will auto-slide towards the left.)
    %li Default transition time for auto-slide is 1800ms

#carouselA
%h3 Default Carousel
%p 
  This carousel uses all basic features mentioned.  All images are 400x300 in size.


#carouselB
%h3 Support for User-configured Options 

%p 
  Adjustable options include: viewing size (600x200), Background-color (pink), &amp;  
  Transition time (4000ms). All images shown are 400x300 in size.

#carouselC
%h3 Support for all Image Sizes and a Portrait Viewport.
%p 
  All image sizes are supported; and if the image is too small, its natural resolution is preserved. 
  Viewing size is 300x500 (portrait). 
  Background-color is of a green hue.


#carouselD
%h3 Support for Flickr API using JSONP
%p 
  Flickr API was used with the keyword 'dog' to fetch the images, 
  and the data was in JSONP instead of JSON. Background-color is of a blue hue.


/ / scripts
/ = javascript_include_tag "helperFunctions.js"
/ = javascript_include_tag "helperFunctionsFlickr.js"
/ = javascript_include_tag "controllers.js"
/ = javascript_include_tag "views.js"
/ = javascript_include_tag "models.js"

= javascript_include_tag "application.js"

/ More Scripts
:javascript
  var carouselA = new CAROUSEL.Carousel({ divId: 'carouselA', jsonPath: './javascripts/json/jsonImages.json'});

  var inputTwo = { divId: 'carouselB', jsonPath: './javascripts/json/jsonImages.json', 
    tranTime: 4000, width: 600, height: 200, backgroundColor: 'pink'};
  var carouselB = new CAROUSEL.Carousel(inputTwo);


  var inputC = { divId: 'carouselC', jsonPath: './javascripts/json/jsonImagesLettered.json', 
     width: 300, height: 500, backgroundColor: 'rgba(40, 200, 100, 0.55)'};
  var carouselC = new CAROUSEL.Carousel(inputC);

  var inputD = { divId: 'carouselD', flickrTag: 'dog', 
      backgroundColor: 'rgba(0, 100, 200, 0.25)', width: 640, height: 400};
  var carouselD = new CAROUSEL.Carousel(inputD);
